.secao{
  background-image: linear-gradient(to top, yellow 0%, white 100%);
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 50%;
gap: 5rem;


}
.cards{
  background-image: linear-gradient(to top, yellow 0%, white 100%);
border-right: 1px dotted pink;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

