

  .wrapper>img{

margin-left: 35%;

  }
  
  @keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
  }


  .wrapper {

  

    transform: translate(-0%, -0%);
    border-radius: 5px;
    background-image: linear-gradient(to top, yellow 0%, pink 100%);
    overflow: hidden;
    width: 100%;
  }
  
  .wave {
    width: 1000px;
    height: 1025px;

    bottom: -200%;
    left: 20%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  .wave1 {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -200%;
    left: 40%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  
  .wave2 {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -200%;
    left: 30%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  .wave3 {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -200%;
    left: 10%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  .wave {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -200%;
    left: 90%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  .wave7 {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -200%;
    left: 50%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  .wave6 {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -200%;
    left: 60%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  .wave5 {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -200%;
    left: 70%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  .wave4 {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -200%;
    left: 80%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
    transform: rotate(0deg);

  }
  @keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
  
  }
  